.charsheet {
  --background-row: #cccccc;
  --background-header: #999999;
  --background-summary: #aaaaaa;
  --background-hover: #b0b0b0;
  --background-input: #d5d5d5;
  --color-text: #404040;
  --height-header: 1.38em;
  --height-row: 2.2em;
  }
/*
When not editing the sheet, the sections that are shown while editing should be hidden
*/
.charsheet .sheet-wrapper input[name=attr_edit_toggle][value="0"] ~ * .sheet-vapen-edit-show,
.charsheet .sheet-wrapper input[name=attr_edit_toggle][value="0"] ~ * .sheet-skill-edit-show,
.charsheet .sheet-wrapper input[name=attr_edit_toggle][value="0"] ~ * .sheet-show-while-edit {
  display: none;
}

/*
When editing the sheet, the sections that are shown when not editing should be hidden
*/
.charsheet .sheet-wrapper input[name=attr_edit_toggle][value=on] ~ * .sheet-vapen-edit-hide,
.charsheet .sheet-wrapper input[name=attr_edit_toggle][value=on] ~ * .sheet-skill-edit-hide,
.charsheet .sheet-wrapper input[name=attr_edit_toggle][value=on] ~ * .sheet-hide-while-edit {
  display: none;
}

.charsheet .sheet-wrapper input[name=attr_edit_toggle][value="0"] ~ * .repcontrol {
  display: none;
}

.charsheet .sheet-wrapper input[name=attr_details_toggle][value=on] ~ * .sheet-skill-totFv,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value=on] ~ * .sheet-attribute-totFv,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value=on] ~ * .sheet-derived-totValue,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value=on] ~ * .sheet-fv-total {
  display: none;
}

.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] + input[name=attr_edit_toggle][value=on] ~ * .sheet-skill-totFv,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] + input[name=attr_edit_toggle][value=on] ~ * .sheet-attribute-totFv,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] + input[name=attr_edit_toggle][value=on] ~ * .sheet-derived-totValue,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] + input[name=attr_edit_toggle][value=on] ~ * .sheet-fv-total {
  display: none;
}
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-vapen-fv,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-vapen-fv-mod,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-vapen-bv,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-vapen-vikt,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-vapen-rv,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-vapen-skada-bonus,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-skill-base,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-skill-erf,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-skill-mod,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-skill-fv,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-attribute-mod,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-attribute-fv,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-derived-mod,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-derived-value,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-armor-details,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-fv,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-fv-mod,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-cost,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-perfects,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-health-other {
  display: none;
}

.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] + input[name=attr_edit_toggle][value=on] ~ * .sheet-skill-fv,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] + input[name=attr_edit_toggle][value=on] ~ * .sheet-skill-mod,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] + input[name=attr_edit_toggle][value=on] ~ * .sheet-attribute-fv,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] + input[name=attr_edit_toggle][value=on] ~ * .sheet-attribute-mod,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] + input[name=attr_edit_toggle][value=on] ~ * .sheet-derived-mod,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] + input[name=attr_edit_toggle][value=on] ~ * .sheet-derived-value,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] + input[name=attr_edit_toggle][value=on] ~ * .sheet-fv,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] + input[name=attr_edit_toggle][value=on] ~ * .sheet-fv-mod {
  display: block;
}

.charsheet {
  background-color: white;
}

.charsheet .sheet-wrapper h1 {
  margin: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 2px solid black;
  background-color: rgb(58, 82, 10);
  text-align: center;
  color: rgb(15, 15, 15);
  font-size: 20pt;
}

.charsheet .sheet-wrapper h3 {
  margin: 0px;
  border: 2px solid black;
  background-color: rgb(87, 124, 28);
  text-align: center;
  color: rgb(241, 238, 187);
  font-size: 18pt;
  font-weight: normal;
}

.charsheet .sheet-wrapper h4 {
  margin: 0 auto;

  margin-top: 0px;

  margin-bottom: 0px;

  border: 2px solid gray;

  text-align: center;
}

.sheet-container {
  position: relative;

  min-height: 60px;

  border-radius: 0px;

  border: 1px solid darkolivegreen;

  background: none;
}

/* Cols */

.charsheet .sheet-wrapper .sheet-saves .sheet-col {
  width: 150px;
}

.sheet-box_alternate {
  border: 1px solid black;

  background-color: gray;

  font-weight: bold;

  color: white;

  font-size: 16px;

  text-align: left;

  padding: 0px;

  margin: 0px;
}

.sheet-box_alternate2 {
  border: 1px solid black;

  background-color: gray;

  font-weight: bold;

  color: white;

  font-size: 16px;

  text-align: center;

  padding: 0px;

  margin: 0px;
}

.sheet-box_alternate3 {
  border: 1px solid black;

  background-color: gray;

  font-weight: bold;

  color: white;

  font-size: 16px;

  text-align: center;

  padding: 0px;

  margin: 0px;

  width: 60px;
}

.sheet-box_alternate_row {
  border: 1px solid black;

  background-color: gray;

  font-weight: bold;

  color: white;

  font-size: 16px;

  text-align: left;

  margin: 0px;
}

.sheet-box_alternate_row2 {
  border: 1px solid black;

  background-color: gray;

  font-weight: bold;

  color: white;

  font-size: 12px;

  text-align: center;

  margin: 0px;

  text-align: center;
}

.sheet-roll_alternate::before {
  display: none;
}

.sheet-roll_alternate:active {
  background-image: none;
}

.sheet-roll_alternate:hover {
  background-image: none;
}

.sheet-roll_alternate {
  border: 1px solid black;

  background-image: none;

  background-color: gray;

  font-weight: bold;

  color: white;

  font-size: 12px;

  text-align: center;

  margin: 0px;

  width: 95%;
}

.sheet-roll_alternate2::before {
  display: none;
}

.sheet-roll_alternate2:hover {
  background-image: none;
}

.sheet-roll_alternate2:active {
  background-image: none;
}

.sheet-roll_alternate2 {
  border: 1px solid black;

  background-image: none;

  background-color: gray;

  font-weight: bold;

  color: white;

  font-size: 12px;

  text-align: center;

  margin: 0px;

  width: 95%;
}

.sheet-roll_alternate3::before {
  display: none;
}

.sheet-roll_alternate3:hover {
  background-image: none;
}

.sheet-roll_alternate3:active {
  background-image: none;
}

.sheet-roll_alternate3 {
  border: 1px solid black;

  background-image: none;

  background-color: gray;

  font-weight: bolder;

  color: white;

  font-size: 32px;

  text-align: center;

  margin: 0px;

  width: 95%;
}

.sheet-roll_alternate4::before {
  display: none;
}

.sheet-roll_alternate4:active {
  background-image: none;
}

.sheet-roll_alternate4:hover {
  background-image: none;
}

.sheet-roll_alternate4 {
  border: 1px solid black;

  background-image: none;

  background-color: gray;

  font-weight: bold;

  color: white;

  font-size: 12px;

  text-align: left;

  margin: 0px;

  width: 95%;
}

.sheet-grundegenskapstabell {
  border: 1px solid black;

  width: 100%;
}

.sheet-formagatabell {
  border: 1px solid black;

  width: 300px;
}

.sheet-fardighetstabell {
  border: 1px solid black;

  width: 100%;
}

.sheet-fardighetstabell input {
  border: 1px solid black;

  width: 100%;
}

.sheet-fardighetstabell_large {
  border: 1px solid black;

  width: 400px;
}

.sheet-fardighetstabell_medium {
  border: 1px solid black;

  width: 100px;
}

.sheet-fardighetstabell_half {
  border: 1px solid black;

  width: 100px;
}

.sheet-fardighetstabell_text_half {
  border: 1px solid black;

  width: 50%;
}

input[type="number"].sheet-fardighetstabell_number_wide {
  border: 1px solid black;

  width: 7em;
}

.sheet-fardighetstabell_text_narrow {
  border: 1px solid black;
  margin-bottom: 0px;
  width: 7em;
}

.sheet-fardighetstabell-slim {
  width: 45.5px;
}

.sheet-fardighetstabell-text-tiny {
  border: 1px solid black;
  margin-bottom: 0px;
  width: 3em;
}

.sheet-fardighetstabell-select {
  border: 1px solid black;
  margin-bottom: 0px;
  width: 116px;
}

.sheet-tarningstabell {
  border: 1px solid black;

  width: 50%;
}

/* Input fields */

.sheet-textarea_wide {
  width: 50%;

  border: 1px solid black;
}

/* roll template */
.sheet-rolltemplate-combined .sheet-container .sheet-container,
.sheet-rolltemplate-dropdownTest .sheet-container .sheet-container,
.sheet-rolltemplate-DoDSummaEllerMotstandGrundegenskap
  .sheet-container
  .sheet-container,
.sheet-rolltemplate-DoDSummaEllerMotstandMagi .sheet-container .sheet-container,
.sheet-rolltemplate-DoDSummaEllerMotstandFardighet
  .sheet-container
  .sheet-container,
.sheet-rolltemplate-DoDSummaEllerMotstandVapen
  .sheet-container
  .sheet-container,
.sheet-rolltemplate-DoDSummaEllerMotstand .sheet-container .sheet-container,
.sheet-rolltemplate-DoDFardighet .sheet-container,
.sheet-rolltemplate-DoDText .sheet-container,
.sheet-rolltemplate-DoDAttack .sheet-container {
  background-color: white;

  border: 1px solid black;

  padding: 2px;

  width: 200px;

  text-align: center;
}

.sheet-rolltemplate-combined .sheet-container h1,
.sheet-rolltemplate-dropdownTest .sheet-container h1,
.sheet-rolltemplate-DoDSummaEllerMotstandMagi .sheet-container h1,
.sheet-rolltemplate-DoDSummaEllerMotstandGrundegenskap .sheet-container h1,
.sheet-rolltemplate-DoDSummaEllerMotstandMagi .sheet-container h1,
.sheet-rolltemplate-DoDSummaEllerMotstandFardighet .sheet-container h1,
.sheet-rolltemplate-DoDSummaEllerMotstandVapen .sheet-container h1,
.sheet-rolltemplate-DoDSummaEllerMotstand .sheet-container h1,
.sheet-rolltemplate-DoDFardighet .sheet-container h1,
.sheet-rolltemplate-DoDText .sheet-container h1,
.sheet-rolltemplate-DoDAttack .sheet-container h1 {
  color: darkolivegreen;

  font-size: 1.2em;

  font-variant: small-caps;

  line-height: 20px;

  text-align: center;
}

.sheet-rolltemplate-combined div,
.sheet-rolltemplate-dropdownTest div,
.sheet-rolltemplate-DoDSummaEllerMotstandGrundegenskap div,
.sheet-rolltemplate-DoDSummaEllerMotstandMagi div,
.sheet-rolltemplate-DoDSummaEllerMotstandFardighet div,
.sheet-rolltemplate-DoDSummaEllerMotstandVapen div,
.sheet-rolltemplate-DoDSummaEllerMotstand div,
.sheet-rolltemplate-DoDFardighet div,
.sheet-rolltemplate-DoDText div,
.sheet-rolltemplate-DoDAttack div {
  padding: 2px;
}

.sheet-rolltemplate-combined .sheet-bold,
.sheet-rolltemplate-dropdownTest .sheet-bold,
.sheet-rolltemplate-DoDSummaEllerMotstandGrundegenskap .sheet-bold,
.sheet-rolltemplate-DoDSummaEllerMotstandMagi .sheet-bold,
.sheet-rolltemplate-DoDSummaEllerMotstandFardighet .sheet-bold,
.sheet-rolltemplate-DoDSummaEllerMotstandVapen .sheet-bold,
.sheet-rolltemplate-DoDSummaEllerMotstand .sheet-bold,
.sheet-rolltemplate-DoDFardighet .sheet-bold,
.sheet-rolltemplate-DoDText .sheet-bold,
.sheet-rolltemplate-DoDAttack .sheet-bold {
  font-weight: bold;
}

.sheet-rolltemplate-combined span,
.sheet-rolltemplate-dropdownTest span,
.sheet-rolltemplate-DoDSummaEllerMotstandGrundegenskap span,
.sheet-rolltemplate-DoDSummaEllerMotstandMagi span,
.sheet-rolltemplate-DoDSummaEllerMotstandFardighet span,
.sheet-rolltemplate-DoDSummaEllerMotstandVapen span,
.sheet-rolltemplate-DoDSummaEllerMotstand span,
.sheet-rolltemplate-DoDFardighet span,
.sheet-rolltemplate-DoDText span,
.sheet-rolltemplate-DoDAttack span {
  color: darkolivegreen;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2em;
  font-variant: small-caps;
  line-height: 1.6em;
  padding-left: 5px;
  text-align: center;
}

.sheet-rolltemplate-combined .sheet-failure {
  color: rgb(185, 60, 60);
}

.sheet-rolltemplate-combined .sheet--success {
  color: rgb(52, 107, 189);
}

.sheet-rolltemplate-combined .sheet-subheader,
.sheet-rolltemplate-dropdownTest .sheet-subheader,
.sheet-rolltemplate-DoDSummaEllerMotstandGrundegenskap .sheet-subheader,
.sheet-rolltemplate-DoDSummaEllerMotstandMagi .sheet-subheader,
.sheet-rolltemplate-DoDSummaEllerMotstandFardighet .sheet-subheader,
.sheet-rolltemplate-DoDSummaEllerMotstandVapen .sheet-subheader,
.sheet-rolltemplate-DoDSummaEllerMotstand .sheet-subheader,
.sheet-rolltemplate-DoDFardighet .sheet-subheader,
.sheet-rolltemplate-DoDText .sheet-subheader,
.sheet-rolltemplate-DoDAttack .sheet-subheader {
  color: black;

  font-size: 1em;

  font-style: italic;

  text-align: center;
}

.sheet-rolltemplate-combined .sheet-arrow-right,
.sheet-rolltemplate-dropdownTest .sheet-arrow-right,
.sheet-rolltemplate-DoDSummaEllerMotstandGrundegenskap .sheet-arrow-right,
.sheet-rolltemplate-DoDSummaEllerMotstandMagi .sheet-arrow-right,
.sheet-rolltemplate-DoDSummaEllerMotstandFardighet .sheet-arrow-right,
.sheet-rolltemplate-DoDSummaEllerMotstandVapen .sheet-arrow-right,
.sheet-rolltemplate-DoDSummaEllerMotstand .sheet-arrow-right,
.sheet-rolltemplate-DoDFardighet .sheet-arrow-right,
.sheet-rolltemplate-DoDText .sheet-arrow-right,
.sheet-rolltemplate-DoDAttack .sheet-arrow-right {
  border-bottom: 2px solid transparent;

  border-left: 194px solid darkolivegreen;

  border-top: 2px solid transparent;
}

.sheet-rolltemplate-combined .sheet-line,
.sheet-rolltemplate-dropdownTest .sheet-line,
.sheet-rolltemplate-DoDSummaEllerMotstandGrundegenskap .sheet-line,
.sheet-rolltemplate-DoDSummaEllerMotstandMagi .sheet-line,
.sheet-rolltemplate-DoDSummaEllerMotstandFardighet .sheet-line,
.sheet-rolltemplate-DoDSummaEllerMotstandVapen .sheet-line,
.sheet-rolltemplate-DoDSummaEllerMotstand .sheet-line,
.sheet-rolltemplate-DoDFardighet .sheet-line,
.sheet-rolltemplate-DoDText .sheet-line,
.sheet-rolltemplate-DoDAttack .sheet-line {
  border-left: 194px solid darkolivegreen;
}

.sheet-rolltemplate-combined .sheet-tcat,
.sheet-rolltemplate-dropdownTest .sheet-tcat,
.sheet-rolltemplate-DoDSummaEllerMotstandGrundegenskap .sheet-tcat,
.sheet-rolltemplate-DoDSummaEllerMotstandMagi .sheet-tcat,
.sheet-rolltemplate-DoDSummaEllerMotstandFardighet .sheet-tcat,
.sheet-rolltemplate-DoDSummaEllerMotstandVapen .sheet-tcat,
.sheet-rolltemplate-DoDSummaEllerMotstand .sheet-tcat,
.sheet-rolltemplate-DoDFardighet .sheet-tcat,
.sheet-rolltemplate-DoDText .sheet-tcat,
.sheet-rolltemplate-DoDAttack .sheet-tcat {
  font-style: italic;
}

.sheet-rolltemplate-combined .sheet-perfekt span,
.sheet-rolltemplate-dropdownTest .sheet-perfekt span,
.sheet-rolltemplate-DoDSummaEllerMotstandGrundegenskap .sheet-perfekt span,
.sheet-rolltemplate-DoDSummaEllerMotstandMagi .sheet-perfekt span,
.sheet-rolltemplate-DoDSummaEllerMotstandFardighet .sheet-perfekt span,
.sheet-rolltemplate-DoDSummaEllerMotstandVapen .sheet-perfekt span,
.sheet-rolltemplate-DoDSummaEllerMotstand .sheet-perfekt span,
.sheet-rolltemplate-DoDFardighet .sheet-perfekt span,
.sheet-rolltemplate-DoDText .sheet-perfekt span,
.sheet-rolltemplate-DoDAttack .sheet-perfekt span {
  color: green;
}

.sheet-rolltemplate-combined .sheet-fummel span,
.sheet-rolltemplate-dropdownTest .sheet-fummel span,
.sheet-rolltemplate-DoDSummaEllerMotstandGrundegenskap .sheet-fummel span,
.sheet-rolltemplate-DoDSummaEllerMotstandMagi .sheet-fummel span,
.sheet-rolltemplate-DoDSummaEllerMotstandFardighet .sheet-fummel span,
.sheet-rolltemplate-DoDSummaEllerMotstandVapen .sheet-fummel span,
.sheet-rolltemplate-DoDSummaEllerMotstand .sheet-fummel span,
.sheet-rolltemplate-DoDFardighet .sheet-fummel span,
.sheet-rolltemplate-DoDText .sheet-fummel span,
.sheet-rolltemplate-DoDAttack .sheet-fummel span {
  color: red;
}
.sheet-rolltemplate-combined .inlinerollresult,
.sheet-rolltemplate-dropdownTest .inlinerollresult,
.sheet-rolltemplate-DoDSummaEllerMotstandGrundegenskap .inlinerollresult,
.sheet-rolltemplate-DoDSummaEllerMotstandMagi .inlinerollresult,
.sheet-rolltemplate-DoDSummaEllerMotstandFardighet .inlinerollresult,
.sheet-rolltemplate-DoDSummaEllerMotstandVapen .inlinerollresult,
.sheet-rolltemplate-DoDSummaEllerMotstand .inlinerollresult,
.sheet-rolltemplate-DoDFardighet .inlinerollresult,
.sheet-rolltemplate-DoDText .inlinerollresult,
.sheet-rolltemplate-DoDAttack .inlinerollresult {
  background-color: transparent;

  border: none;

  text-align: center;
}

.sheet-rolltemplate-combined .inlinerollresult.fullcrit,
.sheet-rolltemplate-dropdownTest .inlinerollresult.fullcrit,
.sheet-rolltemplate-DoDSummaEllerMotstandGrundegenskap
  .inlinerollresult.fullcrit,
.sheet-rolltemplate-DoDSummaEllerMotstandMagi .inlinerollresult.fullcrit,
.sheet-rolltemplate-DoDSummaEllerMotstandFardighet .inlinerollresult.fullcrit,
.sheet-rolltemplate-DoDSummaEllerMotstandVapen .inlinerollresult.fullcrit,
.sheet-rolltemplate-DoDSummaEllerMotstand .inlinerollresult.fullcrit,
.sheet-rolltemplate-DoDFardighet .inlinerollresult.fullcrit,
.sheet-rolltemplate-DoDText .inlinerollresult.fullcrit,
.sheet-rolltemplate-DoDAttack .inlinerollresult.fullcrit {
  color: green;

  border: none;
}

.sheet-rolltemplate-combined .inlinerollresult.fullfail,
.sheet-rolltemplate-dropdownTest .inlinerollresult.fullfail,
.sheet-rolltemplate-DoDSummaEllerMotstandGrundegenskap
  .inlinerollresult.fullfail,
.sheet-rolltemplate-DoDSummaEllerMotstandMagi .inlinerollresult.fullfail,
.sheet-rolltemplate-DoDSummaEllerMotstandFardighet .inlinerollresult.fullfail,
.sheet-rolltemplate-DoDSummaEllerMotstandVapen .inlinerollresult.fullfail,
.sheet-rolltemplate-DoDSummaEllerMotstand .inlinerollresult.fullfail,
.sheet-rolltemplate-DoDFardighet .inlinerollresult.fullfail,
.sheet-rolltemplate-DoDText .inlinerollresult.fullfail,
.sheet-rolltemplate-DoDAttack .inlinerollresult.fullfail {
  color: red;

  border: none;
}

.sheet-rolltemplate-combined .inlinerollresult.importandivoll,
.sheet-rolltemplate-dropdownTest .inlinerollresult.importandivoll,
.sheet-rolltemplate-DoDSummaEllerMotstandGrundegenskap
  .inlinerollresult.importandivoll,
.sheet-rolltemplate-DoDSummaEllerMotstandMagi .inlinerollresult.importandivoll,
.sheet-rolltemplate-DoDSummaEllerMotstandFardighet
  .inlinerollresult.importandivoll,
.sheet-rolltemplate-DoDSummaEllerMotstandVapen .inlinerollresult.importandivoll,
.sheet-rolltemplate-DoDSummaEllerMotstand .inlinerollresult.importandivoll,
.sheet-rolltemplate-DoDFardighet .inlinerollresult.importandivoll,
.sheet-rolltemplate-DoDText .inlinerollresult.importandivoll,
.sheet-rolltemplate-DoDAttack .inlinerollresult.importandivoll {
  color: mediumslateblue;

  border: none;
}


.sheet-firstLevelTab {
}

.sheet-testtab {
  position: relative;
  overflow: hidden;
  margin-bottom: 50;
  z-index: 2;
}

.sheet-section {
  position: relative;
  overflow: hidden;
  margin-bottom: 50;
  z-index: 2;
}

ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
ul li {
  position: relative;
  padding: 0;
  padding-bottom: px;
  padding-top: px;
}
ul li .sheet-testing {
  margin-bottom: 10px;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
ul li .sheet-testing:checked ~ .sheet-testtab {
  max-height: 0;
  margin-bottom: 200;
  opacity: 0;
  transform: translate(0, 50%);
}

ul li .sheet-testing:checked ~ .sheet-firstLevelTab {
  max-height: 0;
  margin-bottom: 10;
  opacity: 0;
  transform: translate(0, 50%);
}

ul li .sheet-testing ~ h1 {
  color: rgb(231, 203, 76);
}

ul li .sheet-testing:checked ~ h1 {
  color: rgb(231, 203, 76);
}

ul li .sheet-testing:checked.sheet-firstLevelTab {
  padding-bottom: 10px;
}

ul li .sheet-testing.sheet-firstLevelTab {
  margin-bottom: 100px;
}

ul li .sheet-testing.sheet-firstLevelTab .sheet-secondLevelTabs {
  margin-bottom: 10px;
}

ul li .sheet-testing:checked .sheet-firstLevelTab .sheet-secondLevelTabs {
  margin-bottom: 100px;
}

.sheet-skills-table {
  display: table;
  width: auto;
  background-color: #eee;
  border: 0px solid #666666;
  border-spacing: 0px; /* cellspacing:poor IE support for  this */
  width: 100%;
}

.sheet-skills-table-header {
  display: table-header-group;
}
.sheet-skills-table-row {
  display: table-row;
  width: auto;
  clear: both;
}

.sheet-skills-table-cell {
  float: left; /* fix for  buggy browsers */
  display: table-cell;
  width: auto;
  background-color: #ccc;
}

.sheet-skills-table-column {
  display: table-column;
}

.sheet-skills-table-body {
  display: table-row-group;
}

.sheet-secondLevelTabs li:last-child {
  padding-bottom: 15px;
}

.sheet-firstLevelTab:hover ~ h1 {
  background-color: rgb(40, 56, 8);
  color: rgb(194, 175, 175);
}

.sheet-secondLevelTab:hover ~ h3 {
  background-color: rgb(83, 102, 45);
}

.sheet-filtreradUtrustning_display {
  height: 0px;
}

.sheet-filtrerad_utrustning {
  display: none;
}

/* Decide which specific repitems to display.  */
input.sheet-utrustning-alla-kategorier:checked~table .sheet-filtrerad_utrustning,      /* Always display items marked alla  */
.sheet-utrustning-klader~.sheet-body fieldset.repeating_utrustning+.repcontainer>.repitem input.sheet-utrustning-klader:checked~table .sheet-filtrerad_utrustning,
.sheet-utrustning-drycker~.sheet-body fieldset.repeating_utrustning+.repcontainer>.repitem input.sheet-utrustning-drycker:checked~table .sheet-filtrerad_utrustning,
.sheet-utrustning-magiska~.sheet-body fieldset.repeating_utrustning+.repcontainer>.repitem input.sheet-utrustning-magiska:checked~table .sheet-filtrerad_utrustning,
.sheet-utrustning-egendom~.sheet-body fieldset.repeating_utrustning+.repcontainer>.repitem input.sheet-utrustning-egendom:checked~table .sheet-filtrerad_utrustning,
.sheet-utrustning-riddjur~.sheet-body fieldset.repeating_utrustning+.repcontainer>.repitem input.sheet-utrustning-riddjur:checked~table .sheet-filtrerad_utrustning,
.sheet-utrustning-ovrigt~.sheet-body fieldset.repeating_utrustning+.repcontainer>.repitem input.sheet-utrustning-ovrigt:checked~table .sheet-filtrerad_utrustning {
  display: block;
}

.sheet-equiptment-pair {
  display: none;
}

/*
input.sheet-utrustning-allt:checked~.sheet-equiptment-pair,
input.sheet-utrustning-allt:checked~.repcontainer .sheet-equiptment-pair,
input.sheet-utrustning-klader:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-klader:checked~.sheet-equiptment-pair,
input.sheet-utrustning-drycker:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-drycker:checked~.sheet-equiptment-pair,
input.sheet-utrustning-magiska:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-magiska:checked~.sheet-equiptment-pair,
input.sheet-utrustning-egendom:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-egendom:checked~.sheet-equiptment-pair,
input.sheet-utrustning-djur:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-djur:checked~.sheet-equiptment-pair,
input.sheet-utrustning-ovrigt:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-ovrigt:checked~.sheet-equiptment-pair,
input.sheet-place-all:checked~.sheet-equiptment-pair,
input.sheet-place-backpack:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-place-backpack:checked~.sheet-equiptment-pair,
input.sheet-place-bank:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-place-bank:checked~.sheet-equiptment-pair,
input.sheet-place-character:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-place-character:checked~.sheet-equiptment-pair,
input.sheet-place-house:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-place-house:checked~.sheet-equiptment-pair,
input.sheet-place-horse:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-place-horse:checked~.sheet-equiptment-pair {
  display: block;
}
*/
.repitem input.sheet-place-all:checked~.sheet-equiptment-pair,
.repitem input.sheet-utrustning-allt:checked~.sheet-equiptment-pair,
input.sheet-utrustning-allt:checked~input.sheet-place-all:checked~.repcontainer .sheet-equiptment-pair,
input.sheet-utrustning-allt:checked~input.sheet-place-backpack:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-place-backpack:checked~.sheet-equiptment-pair,
input.sheet-utrustning-allt:checked~input.sheet-place-bank:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-place-bank:checked~.sheet-equiptment-pair,
input.sheet-utrustning-allt:checked~input.sheet-place-character:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-place-character:checked~.sheet-equiptment-pair,
input.sheet-utrustning-allt:checked~input.sheet-place-house:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-place-house:checked~.sheet-equiptment-pair,
input.sheet-utrustning-allt:checked~input.sheet-place-horse:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-place-horse:checked~.sheet-equiptment-pair,
input.sheet-utrustning-klader:checked~input.sheet-place-all:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-klader:checked~.sheet-equiptment-pair,
input.sheet-utrustning-klader:checked~input.sheet-place-backpack:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-klader:checked~input.sheet-place-backpack:checked~.sheet-equiptment-pair,
input.sheet-utrustning-klader:checked~input.sheet-place-bank:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-klader:checked~input.sheet-place-bank:checked~.sheet-equiptment-pair,
input.sheet-utrustning-klader:checked~input.sheet-place-character:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-klader:checked~input.sheet-place-character:checked~.sheet-equiptment-pair,
input.sheet-utrustning-klader:checked~input.sheet-place-house:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-klader:checked~input.sheet-place-house:checked~.sheet-equiptment-pair,
input.sheet-utrustning-klader:checked~input.sheet-place-horse:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-klader:checked~input.sheet-place-horse:checked~.sheet-equiptment-pair,
input.sheet-utrustning-drycker:checked~input.sheet-place-all:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-drycker:checked~.sheet-equiptment-pair,
input.sheet-utrustning-drycker:checked~input.sheet-place-backpack:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-drycker:checked~input.sheet-place-backpack:checked~.sheet-equiptment-pair,
input.sheet-utrustning-drycker:checked~input.sheet-place-bank:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-drycker:checked~input.sheet-place-bank:checked~.sheet-equiptment-pair,
input.sheet-utrustning-drycker:checked~input.sheet-place-character:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-drycker:checked~input.sheet-place-character:checked~.sheet-equiptment-pair,
input.sheet-utrustning-drycker:checked~input.sheet-place-house:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-drycker:checked~input.sheet-place-house:checked~.sheet-equiptment-pair,
input.sheet-utrustning-drycker:checked~input.sheet-place-horse:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-drycker:checked~input.sheet-place-horse:checked~.sheet-equiptment-pair,
input.sheet-utrustning-magiska:checked~input.sheet-place-all:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-magiska:checked~.sheet-equiptment-pair,
input.sheet-utrustning-magiska:checked~input.sheet-place-backpack:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-magiska:checked~input.sheet-place-backpack:checked~.sheet-equiptment-pair,
input.sheet-utrustning-magiska:checked~input.sheet-place-bank:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-magiska:checked~input.sheet-place-bank:checked~.sheet-equiptment-pair,
input.sheet-utrustning-magiska:checked~input.sheet-place-character:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-magiska:checked~input.sheet-place-character:checked~.sheet-equiptment-pair,
input.sheet-utrustning-magiska:checked~input.sheet-place-house:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-magiska:checked~input.sheet-place-house:checked~.sheet-equiptment-pair,
input.sheet-utrustning-magiska:checked~input.sheet-place-horse:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-magiska:checked~input.sheet-place-horse:checked~.sheet-equiptment-pair,
input.sheet-utrustning-egendom:checked~input.sheet-place-all:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-egendom:checked~.sheet-equiptment-pair,
input.sheet-utrustning-egendom:checked~input.sheet-place-backpack:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-egendom:checked~input.sheet-place-backpack:checked~.sheet-equiptment-pair,
input.sheet-utrustning-egendom:checked~input.sheet-place-bank:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-egendom:checked~input.sheet-place-bank:checked~.sheet-equiptment-pair,
input.sheet-utrustning-egendom:checked~input.sheet-place-character:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-egendom:checked~input.sheet-place-character:checked~.sheet-equiptment-pair,
input.sheet-utrustning-egendom:checked~input.sheet-place-house:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-egendom:checked~input.sheet-place-house:checked~.sheet-equiptment-pair,
input.sheet-utrustning-egendom:checked~input.sheet-place-horse:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-egendom:checked~input.sheet-place-horse:checked~.sheet-equiptment-pair,
input.sheet-utrustning-djur:checked~input.sheet-place-all:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-djur:checked~.sheet-equiptment-pair,
input.sheet-utrustning-djur:checked~input.sheet-place-backpack:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-djur:checked~input.sheet-place-backpack:checked~.sheet-equiptment-pair,
input.sheet-utrustning-djur:checked~input.sheet-place-bank:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-djur:checked~input.sheet-place-bank:checked~.sheet-equiptment-pair,
input.sheet-utrustning-djur:checked~input.sheet-place-character:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-djur:checked~input.sheet-place-character:checked~.sheet-equiptment-pair,
input.sheet-utrustning-djur:checked~input.sheet-place-house:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-djur:checked~input.sheet-place-house:checked~.sheet-equiptment-pair,
input.sheet-utrustning-djur:checked~input.sheet-place-horse:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-djur:checked~input.sheet-place-horse:checked~.sheet-equiptment-pair,
input.sheet-utrustning-pengar:checked~input.sheet-place-all:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-pengar:checked~.sheet-equiptment-pair,
input.sheet-utrustning-pengar:checked~input.sheet-place-backpack:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-pengar:checked~input.sheet-place-backpack:checked~.sheet-equiptment-pair,
input.sheet-utrustning-pengar:checked~input.sheet-place-bank:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-pengar:checked~input.sheet-place-bank:checked~.sheet-equiptment-pair,
input.sheet-utrustning-pengar:checked~input.sheet-place-character:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-pengar:checked~input.sheet-place-character:checked~.sheet-equiptment-pair,
input.sheet-utrustning-pengar:checked~input.sheet-place-house:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-pengar:checked~input.sheet-place-house:checked~.sheet-equiptment-pair,
input.sheet-utrustning-pengar:checked~input.sheet-place-horse:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-pengar:checked~input.sheet-place-horse:checked~.sheet-equiptment-pair,
input.sheet-utrustning-ovrigt:checked~input.sheet-place-all:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-ovrigt:checked~.sheet-equiptment-pair,
input.sheet-utrustning-ovrigt:checked~input.sheet-place-backpack:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-ovrigt:checked~input.sheet-place-backpack:checked~.sheet-equiptment-pair,
input.sheet-utrustning-ovrigt:checked~input.sheet-place-bank:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-ovrigt:checked~input.sheet-place-bank:checked~.sheet-equiptment-pair,
input.sheet-utrustning-ovrigt:checked~input.sheet-place-character:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-ovrigt:checked~input.sheet-place-character:checked~.sheet-equiptment-pair,
input.sheet-utrustning-ovrigt:checked~input.sheet-place-house:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-ovrigt:checked~input.sheet-place-house:checked~.sheet-equiptment-pair,
input.sheet-utrustning-ovrigt:checked~input.sheet-place-horse:checked~fieldset.repeating_equiptment+.repcontainer>.repitem input.sheet-utrustning-ovrigt:checked~input.sheet-place-horse:checked~.sheet-equiptment-pair {
  display: block;
}

.sheet-table-header-select-normal {
  border: 1px solid black;
  background-color: gray;
  font-weight: bold;

  font-size: 16px;
  text-align: left;
  padding: 0px;
  margin: 0px;
  width: 115px;
}

.sheet-table-header-text {
  border: 1px solid black;
  background-color: gray;
  font-weight: bold;
  color: white;
  font-size: 16px;
  text-align: left;
  padding: 0px;
  margin: 0px;
}
.sheet-text-width-normal {
  width: 178px;
}

.sheet-text-width-narrow {
  width: 91px;
}

.sheet-text-width-slim {
  width: 45.5px;
}

.sheet-text-width-tiny {
  width: 3em;
}

.sheet-table-header-select {
  border: 1px solid black;
  background-color: gray;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  padding: 0px;
  margin: 0px;
}

.sheet-select-width-normal {
  width: 116px;
}

.sheet-table-header-number {
  border: 1px solid black;
  background-color: gray;
  font-weight: bold;
  color: white;
  font-size: 16px;
  text-align: left;
  padding: 0px;
  margin: 0px;
}

.sheet-number-width-normal {
  width: 46px;
}

.sheet-hidden {
  display: none;
}









.sheet-toggle {
  position: sticky;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 0.5rem;
  padding: 1rem;
  background-color: #262626;
  box-shadow: 0 5px 5px black;
  padding: 5px;
}

.sheet-toggle label {
  margin: 0;
}
.sheet-toggle span {
  top: 50%;
  left: 50%;
  height: 25px;
  transform: translate(-25%, -25%);
  background: #262626;
  color: #444444;
  text-align: center;
  line-height: 25px;
  border-radius: 25px;
  font-family: Verdana;
  transition: .2s;


}

.sheet-toggle input {
  opacity: 0;
}

.sheet-toggle input:hover + span {
  color: #555555;
}

.sheet-toggle input:checked + span {
  color: #14a11c;
  text-shadow: 0 0 2px 00fff5;
}

.sheet-magic-grid {
  display: grid;
  grid-template-areas: 
    'mana extra'
    'spells spells';
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.sheet-magic-grid-spells {
  grid-area: spells;
}

.sheet-magic-grid-mana {
  grid-area: mana;
}

.sheet-magic-grid-extra {
  grid-area: extra;
}

.sheet-row.sheet-mana {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin-bottom: 3px;
}

.sheet-row.sheet-extra {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-items: center;
  margin-bottom: 3px;
}

.sheet-row.sheet-spell {
  position: relative;
  display: grid;
  grid-template-columns: auto 14em 4em 4em 4em 4em 3em 3em 3em;
  align-items: center;
  justify-items: center;
  margin-bottom: 3px;
}

.sheet-row.sheet-equiptment {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 5em 5em 9em 8em;
  align-items: center;
  justify-items: center;
  margin-bottom: 3px;
}

.sheet-characterdata-grid {
  display: grid;
  grid-template-areas: 
    'general attribute'
    'general derived'
    'experience ability'
    'extra extra';
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.sheet-characterdata-grid-general {
  grid-area: general;
}

.sheet-characterdata-grid-attribute {
  grid-area: attribute;
}

.sheet-characterdata-grid-derived {
  grid-area: derived;
}

.sheet-characterdata-grid-experience {
  grid-area: experience;
}

.sheet-characterdata-grid-ability {
  grid-area: ability;
}

.sheet-characterdata-grid-extra {
  grid-area: extra;
}
.sheet-characterdata-grid-extra textarea {
  height: 7.5em;
  grid-auto-columns: 1fr;
  box-sizing: border-box;
  resize: none;
}

.sheet-mana.sheet-extra.sheet-textarea {
  height: 4.75em;
  grid-auto-columns: 1fr;
  box-sizing: border-box;
  resize: none;
}

.sheet-general {
  position: relative;
  display: grid;
  grid-template-columns: auto 12em;
  align-items: center;
  justify-items: center;
  margin-bottom: 3px;
}

.sheet-attribute {
  position: relative;
  display: grid;
  grid-template-columns: auto 3em 3em;
  align-items: center;
  justify-items: center;
  margin-bottom: 3px;
}

.sheet-derived {
  position: relative;
  display: grid;
  grid-template-columns: auto 3em 3em;
  align-items: center;
  justify-items: center;
  margin-bottom: 3px;
}

.sheet-experience {
  position: relative;
  display: grid;
  grid-template-columns: auto 4em 4em;
  align-items: center;
  justify-items: center;
  margin-bottom: 3px;
}

.sheet-ability {
  position: relative;
  display: grid;
  grid-template-columns: 12em auto;
  align-items: center;
  justify-items: center;
  margin-bottom: 3px;
}

.sheet-extra {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-items: center;
  margin-bottom: 3px;
}

.sheet-combat-grid {
  display: grid;
  grid-template-areas: 
    'health'
    'armor'
    'weapon';
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.sheet-combat-grid-health {
  grid-area: health;
}
.sheet-combat-grid-armor {
  grid-area: armor;
}
.sheet-combat-grid-weapon {
  grid-area: weapon;
}

.sheet-skill-grid {
  display: grid;
  grid-template-areas: 
    'primary profession'
    'primary secondary'
    'primary language';
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.sheet-vapen-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.sheet-skill-grid-primary {
  grid-area: primary;
}

.sheet-skill-grid-profession {
  grid-area: profession;
}

.sheet-skill-grid-secondary {
  grid-area: secondary;
}

.sheet-skill-grid-language {
  grid-area: language;
}


.sheet-testing:checked ~ .sheet-grid {
  max-height: 0;
  margin-bottom: 200;
  opacity: 0;
  transform: translate(0, 50%);
}

.sheet-vapen {
  position: relative;
  display: grid;
  grid-template-columns: auto 8em 3em 3em 3em 4em 3em 5em 3em 6em;
  align-items: center;
  justify-items: center;
  margin-bottom: 3px;
}

.sheet-skill {
  position: relative;
  display: grid;
  grid-template-columns: auto 3em 3em 3em 3em;
  align-items: center;
  justify-items: center;
  margin-bottom: 3px;
}

.sheet-armor {
  position: relative;
  display: grid;
  grid-template-columns: auto 15em 4em 4em 4em 4em 4em 4em 4em 4em;
  align-items: center;
  justify-items: center;
  margin-bottom: 3px;
}

.sheet-health {
  position: relative;
  display: grid;
  grid-template-columns: 8em auto 4em 4em 4em 4em;
  align-items: center;
  justify-items: center;
  margin-bottom: 3px;
}

.sheet-health.sheet-row {
  position: relative;
  display: grid;
  grid-template-columns: 8em auto 4em 4em 4em 4em;
  align-items: center;
  justify-items: center;
  margin-bottom: 3px;
}

.sheet-vapen.sheet-table-row:hover,
.sheet-skill.sheet-table-row:hover,
.sheet-armor.sheet-table-row:hover,
.sheet-attribute.sheet-table-row:hover {
  background-color: #b0b0b0;
}

.sheet-health.sheet-table-row:hover > input.sheet-table-row-field {
  background-color: #b0b0b0;
}

/*
.sheet-health.sheet-table-row:hover > input[type=number]::-webkit-inner-spin-button,
.sheet-health.sheet-table-row:hover > input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: scrollbarbutton-down;
  -webkit-appearance: scrollbarbutton-up;

}
*/

.sheet-table-row:hover select {
  background-color: #b0b0b0;
  border: none;
}


.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-vapen {
  grid-template-columns: auto 8em 5em 3em;
}

.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-skill {
  grid-template-columns: auto 3em;
}

.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-attribute {
  grid-template-columns: auto 3em;
}

.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-derived {
  grid-template-columns: auto 3em;
}

.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-armor {
  grid-template-columns: auto 4em 4em 4em 4em 4em 4em 4em 4em;
}

.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-spell {
  grid-template-columns: auto 14em 4em 4em 4em 3em;
}

.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-health,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-health.sheet-row {
  grid-template-columns: auto 4em 4em 4em 4em;
}


.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] + input[name=attr_edit_toggle][value=on] ~ * .sheet-health,
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] + input[name=attr_edit_toggle][value=on] ~ * .sheet-health.sheet-row {
  grid-template-columns: auto 4em 4em 4em 4em;
}

.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] + input[name=attr_edit_toggle][value=on] ~ * .sheet-skill {
  grid-template-columns: auto 3em 3em;
}

.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] + input[name=attr_edit_toggle][value=on] ~ * .sheet-attribute {
  grid-template-columns: auto 3em 3em;
}

.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] + input[name=attr_edit_toggle][value=on] ~ * .sheet-derived {
  grid-template-columns: auto 3em 3em;
}

.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] + input[name=attr_edit_toggle][value=on] ~ * .sheet-spell {
  grid-template-columns: auto 14em 4em 4em 4em 3em 3em;
}

.charsheet .sheet-wrapper button.sheet-button-full-hidden {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  opacity: 0;
}

/*
.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-skill-edit-hide {
  grid-template-columns: auto 3em;
}


.charsheet .sheet-wrapper input[name=attr_details_toggle][value=on] ~ * .sheet-skill-edit-hide {
  grid-template-columns: auto 3em 3em 3em;
}


.charsheet .sheet-wrapper input[name=attr_details_toggle][value="0"] ~ * .sheet-skill-edit-show {
  grid-template-columns: auto 3em;
}


.charsheet .sheet-wrapper input[name=attr_details_toggle][value=on] ~ * .sheet-skill-edit-show {
  grid-template-columns: auto 3em 3em 3em 3em;
}
*/

.sheet-table-header {
  background-color: #999999;
}

.sheet-table-header .sheet-table-header-field {
  font-weight: bold;
  color:black;
}

.sheet-table-row {
  background-color: #cccccc;
  border: 1px solid #635b14;
  min-height: 28px;
}

.sheet-table-row .sheet-table-row-field {
  /*background-color: green;*/
}

.sheet-table-summary {
  background-color: #aaaaaa;
  border: 1px solid #635b14;
  min-height: 28px;
}

.sheet-table-summary .sheet-table-summary-field {
  background-color: #aaaaaa;
}

/*
.sheet-skill-header-display {
  display: grid;
  grid-column: 6;
  grid-template-columns: auto 3em 3em 3em 3em;
  justify-items: center;
  padding-bottom: 5px;
}

.sheet-skill-display-wrapper {
  display: grid;
  grid-column: 6;
  grid-template-columns: auto 3em 3em 3em 3em;
  align-items: center;
  justify-items: center;
  border: 1px solid #635b14;
  min-height: 28px;
}
*/
input.sheet-skill-name,
input.sheet-vapen-namn,
input.sheet-armor-namn,
input.sheet-health-bodypart,
.sheet-vapen-namn,
.sheet-skill-name,
.sheet-armor-name,
.sheet-health-bodypart,
.sheet-general-name,
.sheet-attribute-name,
.sheet-derived-name,
.sheet-experience-name,
.sheet-ability-name {
  justify-self: left;
  padding-left: 5px;
  font-weight: bold;
}

.sheet-vapen-grid input[type=number],
.sheet-skill-grid input[type=number],
.sheet-combat-grid-armor input[type=number],
.sheet-combat-grid-weapon input[type=number],
.sheet-combat-grid-weapon input[type=number].sheet-health-max,
.sheet-combat-grid-weapon input[type=number].sheet-health-current,
.sheet-combat-grid-weapon input[type=number].sheet-health-armor,
.sheet-characterdata-grid-atribute input[type=number],
.sheet-characterdata-grid-atribute input[type=number] {
  -moz-appearance: textfield;
}

.sheet-vapen-grid input[type=number]::-webkit-outer-spin-button,
.sheet-vapen-grid input[type=number]::-webkit-inner-spin-button,
.sheet-skill-grid input[type=number]::-webkit-outer-spin-button,
.sheet-skill-grid input[type=number]::-webkit-inner-spin-button,
.sheet-combat-grid-armor input[type=number]::-webkit-outer-spin-button,
.sheet-combat-grid-armor input[type=number]::-webkit-inner-spin-button,
.sheet-combat-grid-weapon input[type=number].sheet-health-max::-webkit-outer-spin-button,
.sheet-combat-grid-weapon input[type=number].sheet-health-max::-webkit-inner-spin-button,
.sheet-combat-grid-health input[type=number].sheet-health-current::-webkit-outer-spin-button,
.sheet-combat-grid-health input[type=number].sheet-health-current::-webkit-inner-spin-button,
.sheet-combat-grid-health input[type=number].sheet-health-armor::-webkit-outer-spin-button,
.sheet-combat-grid-health input[type=number].sheet-health-armor::-webkit-inner-spin-button,
.sheet-characterdata-grid-atribute input[type=number]::-webkit-outer-spin-button,
.sheet-characterdata-grid-atribute input[type=number]::-webkit-inner-spin-button,
.sheet-characterdata-grid-derived input[type=number]::-webkit-outer-spin-button,
.sheet-characterdata-grid-derived input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;;
  margin: 0;
}

.sheet-vapen-grid input[type=number],
.sheet-vapen-grid input[type=text],
.sheet-vapen-grid select,
.sheet-vapen-grid textarea,
.sheet-skill-grid input[type=number],
.sheet-skill-grid input[type=text],
.sheet-skill-grid select,
.sheet-skill-grid textarea,
.sheet-combat-grid input[type=number],
.sheet-combat-grid input[type=text],
.sheet-combat-grid select,
.sheet-combat-grid textarea,
.sheet-characterdata-grid input[type=number],
.sheet-characterdata-grid input[type=text],
.sheet-characterdata-grid select,
.sheet-characterdata-grid textarea  {
  width: 100%;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sheet-combat-grid .sheet-table-summary input[type=number], 
.sheet-combat-grid .sheet-table-summary input[type=text] {
  font-weight: bold;
  color:black;
  cursor: default;
  background-color:#aaaaaa;
  border: none;
  border-radius: unset;
  border-left: 1px solid grey;
  pointer-events: none;
}


.sheet-combat-grid-health .sheet-table-row input[type=number], 
.sheet-combat-grid-health .sheet-table-row input[type=text] {
  cursor: default;
  background-color:#cccccc;
  border: none;
  border-radius: unset;
  padding: 4px;
}

.sheet-vapen-grid input[type=number],
.sheet-vapen-grid input[type=text],
.sheet-vapen-grid.sheet-vapen-edit-hide select,
.sheet-skill-grid input[type=number],
.sheet-skill-grid input[type=text],
.sheet-skill-grid.sheet-vapen-edit-hide select,
.sheet-combat-grid input[type=number],
.sheet-combat-grid input[type=text],
.sheet-combat-grid.sheet-combat-edit.hide select,
.sheet-characterdata-grid input[type=number],
.sheet-characterdata-grid input[type=text] {
  border: none;
  border-bottom: 1px solid #e5d280;
  text-align: center;
  height: auto;
  padding: 0;
}
.sheet-vapen-edit-hide select,
.sheet-skill-edit-hide select,
.sheet-combat-edit-hide select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #cccccc;
}

.sheet-table-header-field.sheet-vapen-skill,
.sheet-table-row-field.sheet-vapen-skill {
  justify-self: left;
}

.charsheet .sheet-vapen-grid input[type=text].sheet-vapen-namn,
.charsheet .sheet-skill-grid input[type=text].sheet-skill-name,
.charsheet .sheet-combat-grid input[type=text].sheet-armor-name,
.charsheet .sheet-combat-grid input[type=text].sheet-health-bodypart,
.charsheet .sheet-combat-grid input[type=text].sheet-armor-sum,
.charsheet .sheet-combat-grid input[type=text].sheet-armor-sum,
.charsheet .sheet-characterdata-grid input[type=text].sheet-general-name,
.charsheet .sheet-characterdata-grid input[type=text].sheet-attribute-name,
.charsheet .sheet-characterdata-grid input[type=text].sheet-derived-name,
.charsheet .sheet-characterdata-grid input[type=text].sheet-experience-name,
.charsheet .sheet-characterdata-grid input[type=text].sheet-ability-name {
  text-align: left;
  padding-left: 5px;
  font-weight: bold;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border: none;
}

.sheet-skill-grid textarea {
  padding: 0.5rem;
  border: 1px solid #e5d280;
  resize: vertical;
}

h2.sheet-grid-section-header {
  font-size: 22;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  color: #e5d280;
}

h2.sheet-grid-section-header:after,
h2.sheet-grid-section-header:before {
  flex: 1;
  display: block;
  content: "";
  height: 0;
  margin: 1rem;
  border-bottom: 2px solid #e5d280;
}

.charsheet .repcontainer .repitem .itemcontrol .repcontrol_move {
  cursor: move;
  float: right;
  position: sticky;
  z-index: 50;
}

.charsheet .repcontainer .repitem .itemcontrol .repcontrol_del {
  float: right;
  position: sticky;
  z-index: 50;
}



/*
.sheet-wrapper input[name=toggle_edit][value=on] ~ * .sheet-skill-edit-hide {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  left: -10000px;
}
*/

/*========================================/
/                                         /
/               NEW STYLE                 /
/                                         /
/========================================*/

div.charctersheet.charsheet {
  padding:0px;
}

.sheet-data.sheet-row {
  background-color: var(--background-row);
  border: 1px solid #635b14;
  min-height: var(--height-row); 
}

.sheet-row:hover,
.sheet-row:hover span {
  background-color: var(--background-hover);
}

.sheet-field {
  cursor: default;
  background-color: var(--background-row);
  text-align: center;
}

.sheet-field.sheet-left {
  text-align: left;
  justify-self: left;
}

.sheet-field.sheet-name,
.sheet-field.sheet-first,
.sheet-armor-sum.sheet-first,
input[type=text].sheet-field.sheet-name,
input[type=number].sheet-field.sheet-name {
  justify-self: left;
  text-align: left;
  padding-left: 5px;
  font-weight: bold;
}

input[type=text].sheet-field,
input[type=number].sheet-field {
  background-color: var(--background-input);
  -moz-appearance: textfield;
  width: 100%;
  padding: 0px;
}

input[type=number].sheet-field::-webkit-inner-spin-button,
input[type=number].sheet-field::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sheet-header.sheet-row {
  background-color: var(--background-header);
  height: var(--height-header);
  font-weight: bold;
}

.sheet-header.sheet-field {
  background-color: var(--background-header);
}

.sheet-header.sheet-select {
  width:100%;
  padding: 0px;
  height: 18px;
  margin-bottom: 0px;
  font-weight: bold;
  background-color: var(--background-header);
  color:var(--color-text);
  outline: none;
}

.sheet-data.sheet-select {
  width:100%;
  margin-bottom: 0px;
  background-color: var(--background-input);
  color: var(--color-text);
  padding: 0px
}


.sheet-data.sheet-select-value {
  padding-left: 5px;
}